<!DOCTYPE html>
<html ng-app>
<head>
<meta charset="UTF-8">
<title>用户注册</title>
<script type="text/javascript" src="/js/angular.js"></script>
</head>
<body ng-controller="registerController">
<div id="register">  
        <ul>
                <li>
                <label for="">昵称</label>
                <input type="input" ng-model="user.nickname">
                </li>
                <li>
                <label for="">邮箱</label>
                <input type="input" ng-model="user.email">
                </li>
                <li>
                <label for="">密码</label>
                <input type="password" ng-model="user.password">
                </li>
                <li>
                <input type="submit" value="注册" ng-click="doRegister()">
                </li>
        </ul>
</div>

<script type="text/javascript">
var registerController=function($scope,$http,$window){
        $scope.doRegister=function(){
          var p=$http({method:'POST',url:'/user',data:$scope.user});
          p.success(function(response){
                          localStorage.user=JSON.stringify(response);
                          $window.location.href='/room.html';
                          });
        };
};
</script>
</body>
</html>
